<div class="w-full sm:w-1/3 p-3">
	<div class="bg-gray-100 bg-opacity-75 px-8 text-center rounded-lg overflow-hidden">
		<div class="text-outer p-5">
			<div class="text-inner">
				<div class="[&_a]:text-base [&_a]:uppercase [&_a]:text-slate-400 [&_a]:no-underline [&_a]:hover:text-[#a82e30] [&_a]:font-normal mb-1">
					{{ category }}
				</div>	
				<div class="w-full mb-3">
					<h2 class="title-font sm:text-2xl text-xl font-medium text-gray-900">{{ heading }}</h2>
				</div>
				<div class="[&_p]:text-base mb-3">
					{{ description }}
				</div>
				<div class="[&_a]:hover:text-[#a82e30] [&_a]:text-[#706cf2] [&_a]:text-base [&_a]:block py-4">
					{{ ctaButton }}
				</div>
			</div>
		</div>
	</div>
</div>